#-----------------------------------------------------------------------------------------
# PostgreSQL ident  (Ansible managed)
#-----------------------------------------------------------------------------------------
# MAPNAME       SYSTEM-USERNAME         PG-USERNAME
{% for entry in postgresql_ident_entries %}
{{ entry.mapname }} {{ entry.system_username }} {{ entry.pg_username }}
{% endfor %}
