# -----------------------------------------------------------------------------------------
# PostgreSQL 14 configuration (Ansible managed)
# -----------------------------------------------------------------------------------------

#------------------------------------------------------------------------------
# FILE LOCATIONS
#------------------------------------------------------------------------------
data_directory  = '{{ postgresql_data_dir }}'
hba_file        = '{{ postgresql_config_dir }}/pg_hba.conf'
ident_file      = '{{ postgresql_config_dir }}/pg_ident.conf'

# - Connection Settings -
listen_addresses    = '{{ postgresql_listen_addresses }}'
port                = {{ postgresql_port }}
max_connections     = {{ postgresql_max_connections }}
superuser_reserved_connections = {{ postgresql_superuser_reserved_connections }}

# - Authentication -
authentication_timeout  = {{ postgresql_authentication_timeout }}
password_encryption     = {{ postgresql_password_encryption }}

#------------------------------------------------------------------------------
# RESOURCE USAGE (except WAL)
#------------------------------------------------------------------------------

# - Memory -
shared_buffers  = {{ postgresql_shared_buffers }}
temp_buffers    = {{ postgresql_temp_buffers }}
work_mem        = {{ postgresql_work_mem }}
hash_mem_multiplier = {{ postgresql_hash_mem_multiplier }}
maintenance_work_mem = {{ postgresql_maintenance_work_mem }}
max_prepared_transactions = '{{ postgresql_max_prepared_transactions }}'

#------------------------------------------------------------------------------
# WRITE-AHEAD LOG
#------------------------------------------------------------------------------

# - Settings -
wal_level = {{ postgresql_wal_level }}
fsync = on
synchronous_commit = '{{ postgresql_synchronous_commit }}'
wal_sync_method = {{ postgresql_wal_sync_method }}
wal_compression = {{ 'on' if postgresql_wal_compression else 'off' }}
wal_buffers = {{ postgresql_wal_buffers }}

# - Checkpoints -
checkpoint_timeout = {{ postgresql_checkpoint_timeout }}

{% if postgresql_archive_mode_enabled %}
# - Archiving -
archive_mode = on
archive_command = '{{ postgresql_archive_command }}'

# - Archive Recovery -
restore_command = '{{ postgresql_restore_command }}'
{% endif %}

#------------------------------------------------------------------------------
# REPLICATION
#------------------------------------------------------------------------------

{% if postgresql_role == "primary" -%}
# - Sending Servers - 
max_wal_senders = {{ postgresql_max_wal_senders }}
max_replication_slots = {{ postgresql_max_replication_slots }}

# - Primary Server -
synchronous_standby_names = '{{ postgresql_synchronous_standby_names }}'
{% elif postgresql_role == "standby" -%}
# - Standby Servers -
hot_standby = {{ 'on' if postgresql_hot_standby else 'off' }}
{% endif %}

#------------------------------------------------------------------------------
# REPORTING AND LOGGING
#------------------------------------------------------------------------------

# - Where to Log -
log_destination = '{{ postgresql_log_destination }}'
logging_collector = {{ 'on' if postgresql_logging_collector_enabled else 'off' }}
{% if postgresql_logging_collector_enabled %}
log_directory   = '{{ postgresql_log_directory }}'
log_filename    = '{{ postgresql_log_filename }}'
log_rotation_age = {{ postgresql_log_rotation_age }}
{% endif %}
syslog_facility = '{{ postgresql_syslog_facility }}'
syslog_ident = '{{ postgresql_syslog_ident }}'
syslog_sequence_numbers = {{ 'on' if postgresql_syslog_sequence_numbers else 'off' }}
syslog_split_messages = {{ 'on' if postgresql_syslog_split_messages else 'off' }}

# - When to Log -
log_min_messages            = {{ postgresql_log_min_messages }}
log_min_error_statement     = {{ postgresql_log_min_error_statement }}
log_min_duration_statement  = {{ postgresql_log_min_duration_statement }}

# - What to Log -
log_timezone = '{{ postgresql_log_timezone }}'

#------------------------------------------------------------------------------
# PROCESS TITLE
#------------------------------------------------------------------------------

cluster_name = '{{ postgresql_cluster_name }}'
update_process_title = on

#------------------------------------------------------------------------------
# STATISTICS
#------------------------------------------------------------------------------

# - Query and Index Statistics Collector -
track_activities = {{ 'on' if postgresql_track_activities else 'off' }}
track_activity_query_size = {{ postgresql_track_activity_query_size }}
track_counts = {{ 'on' if postgresql_track_counts else 'off' }}
track_io_timing = {{ 'on' if postgresql_track_io_timing else 'off' }}
track_wal_io_timing = {{ 'on' if postgresql_track_wal_io_timing else 'off' }}
track_functions = {{ postgresql_track_functions }}
stats_temp_directory = '{{ postgresql_stats_temp_directory }}'

#------------------------------------------------------------------------------
# AUTOVACUUM
#------------------------------------------------------------------------------

autovacuum = {{ 'on' if postgresql_autovacuum_enabled else 'off' }}
{% if postgresql_autovacuum_enabled %}
autovacuum_max_workers = {{ postgresql_autovacuum_max_workers }}
autovacuum_naptime = {{ postgresql_autovacuum_naptime }}
{% endif %}

#------------------------------------------------------------------------------
# CLIENT CONNECTION DEFAULTS
#------------------------------------------------------------------------------

# - Locale and Formatting -
timezone = '{{ postgresql_timezone }}'
client_encoding = '{{ postgresql_client_encoding }}'
lc_messages = '{{ postgresql_locale }}'
lc_monetary = '{{ postgresql_locale }}' 
lc_numeric = '{{ postgresql_locale }}'  
lc_time = '{{ postgresql_locale }}'

# - Shared Library Preloading -
shared_preload_libraries = '{% for lib in postgresql_shared_preload_libraries %}{{ lib }}{%- if not loop.last %}, {% endif %}{% endfor -%}'

#------------------------------------------------------------------------------
# LOCK MANAGEMENT
#------------------------------------------------------------------------------
deadlock_timeout = {{ postgresql_deadlock_timeout }}

#------------------------------------------------------------------------------
# ERROR HANDLING
#------------------------------------------------------------------------------
restart_after_crash = {{ 'on' if postgresql_restart_after_crash else 'off' }}

#------------------------------------------------------------------------------
# EXTRA CONFIGURATIONS
#------------------------------------------------------------------------------
{% for config in postgresql_extra_configurations %}
{{ config }}
{% endfor %}

