[Unit]
Description=PostgreSQL {{ postgresql_release }} database server
Documentation=https://www.postgresql.org/docs/{{ postgresql_release }}/static/
After=syslog.target network.target

[Service]
Type=notify
User=postgres
Group=postgres
EnvironmentFile={{ postgresql_service_env_file }}
# Disable OOM kill on the postmaster
OOMScoreAdjust=-1000
Environment=PG_OOM_ADJUST_FILE=/proc/self/oom_score_adj
Environment=PG_OOM_ADJUST_VALUE=0
ExecStartPre={{ postgresql_bin_dir }}/postgresql-{{ postgresql_release }}-check-db-dir ${PGDATA}
ExecStart={{ postgresql_bin_dir }}/postmaster -D ${PGDATA} ${PGOPTIONS}
ExecReload=/bin/kill -HUP $MAINPID
KillMode=mixed
KillSignal={{ postgresql_service_kill_signal }}

# Do not set any timeout value, so that systemd will not kill postmaster
# during crash recovery.
TimeoutSec=0

[Install]
WantedBy=multi-user.target
